<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SB Data</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      {{#link-to 'live' class='nav-link' tagName='li'}}
        <a class="nav-link" href="#">
          Live
        </a>
      {{/link-to}}
      {{#link-to 'prematch' class='nav-link' tagName='li'}}
        <a class="nav-link" href="#">
          Line
        </a>
      {{/link-to}}
    </ul>
  </div>
</nav>

{{yield}}
