{{sb-layout/navbar}}



<button {{action 'getAllLiveSports'}} class="btn btn-primary">GET ALL LIVE SPORTS</button>

<button {{action 'getLiveSport'}} class="btn btn-default">GET LIVE SPORT</button>

<button {{action 'getLiveGame'}} class="btn btn-success">GET LIVE GAME</button>

<button {{action 'getEvent'}} class="btn btn-warning">GET EVENT</button>

<ul>
  {{#each sports as |sport|}}
    <li>
      Sport: {{sport.name}}
      <ul>
        {{#each sport.regions as |region|}}
          <li>
            Region: {{region.name}}
            <ul>
              {{#each region.competition as |competition|}}
                <li>Competition: {{competition.name}}</li>
                <ul>
                  {{#each competition.game as |game|}}
                    <li>Game: {{game.team1_name}} - {{game.team2_name}}</li>
                    <ul>
                     {{#each game.events as |event|}}
                        <li>
                          Event: {{event.name}} - {{event.odd}}
                        </li>
                     {{/each}}
                    </ul>
                  {{/each}}
                </ul>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>

{{!--<div class="container-fluid">--}}
  {{!--<div class="row">--}}
    {{!--<div class="col-md-12">--}}
      {{!--<label for="basic-url">URL</label>--}}
      {{!--<div class="input-group mb-3">--}}
        {{!--<div class="input-group-prepend">--}}
          {{!--<span class="input-group-text" id="basic-addon3">https://example.com/</span>--}}
        {{!--</div>--}}
        {{!--<input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">--}}
        {{!--<div class="input-group-append">--}}
          {{!--<button class="btn btn-outline-secondary" type="button">Go</button>--}}
        {{!--</div>--}}
      {{!--</div>--}}
    {{!--</div>--}}
    {{!--<div class="col-md-6">--}}
      {{!--{{monaco-editor code='function foo() {}'}}--}}
    {{!--</div>--}}
    {{!--<div class="col-md-6">--}}

    {{!--</div>--}}
  {{!--</div>--}}
{{!--</div>--}}

{{outlet}}
